// my-template.jade
extends ../funcions
     
block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Receta Médica
            form(name="form",class="css-form",novalidate,ng-submit="vm.submit()")
              .col-md-12.col-sm-12
                .form-group
                  paciente-label(paciente="vm.receta.paciente")
              .row
                .col-md-4(ng-repeat="(key, medicamento) in vm.receta.medicamentos")
                  .col-md-12.col-sm-12
                      label  Medicamento {{key + 1 }}
                  .col-md-12.col-sm-12(ng-if="vm.farmacia")
                    label(for="medicamento{{key}}") Medicamento:
                    label {{ vm.getMedicamento(medicamento.idMedicamento) }}
                  .col-md-12.col-sm-12(ng-if="!vm.farmacia")
                    label(for="medicamento{{key}}") Medicamento:
                    label {{medicamento.medicamento }}
                  .col-md-12.col-sm-12
                    label(for="dosis{{key}}") Dosis:
                    label {{medicamento.dosis }}
                  .col-md-12.col-sm-12                  
                    label(for="mFin_{{key}}") Toma:
                    label {{medicamento.toma  }}
                  .col-md-12.col-sm-12
                    label(for="tipo_administracion{{key}}") Tipo Administracion:
                    label {{medicamento.tipo_administracion | capitalize }}
                  .col-md-12.col-sm-12
                    label(for="Desde{{key}}") Desde:
                    label {{medicamento.desde | date}}
                  .col-md-12.col-sm-12
                      label(for="hasta{{key}}") Hasta:
                      label {{medicamento.hasta | date}}
              .col-md-12.col-sm-12
                .form-group(ng-class="{ 'has-error': form.mComment.$touched && form.mComment.$invalid }")
                    label(for="comment") Información Adicional
                    textarea(class="form-control",required='required',name="mComment",ng-model="vm.receta.comentarios",rows="5",disabled="disabled")
                    .help-block(ng-messages="form.mComment.$error",ng-show="form.mComment.$touched")
                      .div(ng-messages-include="/templates/shared/messages.html")
              .form-group
                button.btn.btn-success(type='submit',ng-disabled="form.$invalid") Entregar Receta
