// my-template.jade
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Farmacologos
            .col-md-12.col-sm-12
              .row
                .col-md-12.col-sm-12
                  a.btn.btn-primary(href="#/registroFarmacologo") Agregar Farmacologo
              table(class="table table-striped table-bordered table-hover ")
                thead
                  tr
                    th  Nombre
                    th  Cedula
                tbody
                  tr(ng-repeat="farmacologo in vm.farmacologos" style="color:black;")
                    td {{farmacologo.nombre}}
                    td {{farmacologo.cedula_profesional}}
