extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Cambiar Contrase単a
            form(name="form",novalidate, class="form",ng-submit="vm.submit()")
            .col-md-12.col-sm-12
              +formvalid_("oldPassword")
                input.form-control(type='password', required='required', placeholder='Contrase単a Actual', ng-model="vm.changePassword.oldPassword",name="oldPassword",password-validation)
                +message_("oldPassword")
              .col-md-12.col-sm-12
                +formvalid_("password")
                  input.form-control(type='password', required='required', placeholder='Nueva Contrase単a', ng-model="vm.changePassword.password",name="password",password-validation)
                  +message_("password")
              .col-md-12.col-sm-12
                +formvalid_("confirm")
                  input.form-control(type='password', required='required', placeholder='Confirma Nueva Contrase単a', ng-model="vm.changePassword.confirm",name="confirm",compare-to="vm.changePassword.password")
                  +message_("confirm")
              .form-group
                button.btn.btn-success(type='submit', ng-disabled="form.$invalid") Cambiar Password
