extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Consultas
            .col-md-12.col-sm-12
              .table-responsive
                table(class="table table-striped table-bordered table-hover ")
                  thead
                    tr
                      th  Paciente
                      th  impresion
                      th  descripcion
                      th  Acciones
                  tbody
                    tr(ng-repeat="consulta in vm.consultas" style="color:black;")
                      td {{consulta.paciente.nombre}}
                      td {{consulta.impresion}}
                      td {{consulta.descripcion}}
                      td
                        a.btn.btn-primary(href="#/diagnostico/{{consulta.idSolicitud}}") Diagnostico
                    
