.col-md-12.col-sm-12
  .form-group
    input.form-control(type='text', required='required', placeholder='Nombre')
.col-md-12.col-sm-12
  .form-group
    input.form-control(type='text', required='required', placeholder='Apellidos')
.col-md-12.col-sm-12
  .form-group
    input.form-control(type='text', required='required', placeholder='CURP')
.col-md-12.col-sm-12
  .form-group
    select.form-control(required='required')
      option Sexo
      each sex, i in sexoEnum
        option(value=i) #{sex}
.col-md-12.col-sm-12
  .form-group
    input.form-control(type='date', required='required', placeholder='Fecha nacimiento')
.col-md-12.col-sm-12
  .form-group
    input.form-control(type='email', required='required', placeholder='Email')
