
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Diagnotico Médico
            form(name="form",novalidate,class="form",ng-submit="vm.submit()")
              .col-md-12.col-sm-12
                .form-group
                  h3 Paciente {{vm.consulta.paciente.nombre}}
              .col-md-12.col-sm-12
                .form-group
                  .form-group
                    label(for="comment") Diagnostico
                    textarea(class="form-control",rows="5",name="diagnotico",required,ng-model="vm.diagnostico.diagnostico",only-alpha)
              .col-md-12.col-sm-12
                .form-group
                  label(for="comment") Tratamiento
                  textarea(class="form-control",rows="5",name="tratamiento",required,ng-model="vm.diagnostico.tratamiento",only-alpha)
              .form-group
                button.btn.btn-success(type='submit') Crear  Diagnostico
