label(ng-message="required") Este campo es requerido
label(ng-message="minlength") El campo esta incompleto
label(ng-message="maxlength") El campo excede el largo maximo
label(ng-message="email") Este campo debe ser un email
label(ng-message="compareTo") La contraseña no es la misma
label(ng-message="uniqueEmail") Este email ya esta en uso
