p(ng-message="required") Este campo es requerido
p(ng-message="minlength") El campo esta incompleto
p(ng-message="maxlength") El campo excede el largo maximo
p(ng-message="email") Este campo debe ser un email
