extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Mi perfil
            form(name="form",novalidate, class="form",ng-submit="vm.submit()")
              .col-md-12.col-sm-12
                +formvalid_("name")
                  input.form-control(type='text', required='required', placeholder='Nombre', ng-model="vm.miperfil.nombre",name="name")
                  +message_("name")
              .col-md-12.col-sm-12
                +formvalid_("apPaterno")
                  input.form-control(type='text', required='required', placeholder='Apellido Paterno', ng-model="vm.miperfil.apPaterno",name="apPaterno")
                  +message_("apPaterno")
              .col-md-12.col-sm-12
                +formvalid_("apMaterno")
                  input.form-control(type='text', required='required', placeholder='Apellido Materno', ng-model="vm.miperfil.apMaterno",name="apMaterno")
                  +message_("apMaterno")
              .col-md-12.col-sm-12
                +formvalid_("fechaNacimiento")
                  label Fecha Nacimiento
                  input.form-control(type='date', required='required', placeholder='Fecha Nacimiento', ng-model="vm.miperfil.fechaNacimiento",name="fechaNacimiento")
              .form-group
                //button.btn.btn-success(type='submit', ng-disabled="form.$invalid") Guardar Cambios
