// my-template.jade
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Registro Paciente Nuevo
            form(name="form", novalidate, class="form", ng-submit="vm.crearPaciente()")
              .col-md-12.col-sm-12
                +formvalid_("nombre")
                  input.form-control(type='text', required='required', placeholder='Nombre',ng-model="vm.paciente.nombre",name="nombre")
                  +message_("nombre")
              .col-md-12.col-sm-12
                +formvalid_("apellido_paterno")
                  input.form-control(type='text', required='required', placeholder='Apellido Paterno',ng-model="vm.paciente.apellido_paterno",name="apellido_paterno")
                  +message_("apellido_paterno")
              .col-md-12.col-sm-12
                +formvalid_("apellido_materno")
                  input.form-control(type='text', required='required', placeholder='Apellido Materno',ng-model="vm.paciente.apellido_materno",name="apellido_materno")
                  +message_("apellido_materno")
              .col-md-12.col-sm-12
                +formvalid_("curp")
                  input.form-control(type='text', required='required', placeholder='CURP',ng-model="vm.paciente.curp",name="curp")
                  +message_("curp")
              .col-md-12.col-sm-12
                +formvalid_("tipo_sanguinio")
                  select.form-control(ng-model="vm.paciente.tipo_sanguinio",name="tipo_sanguinio",required="required",ng-options="tipo.text as tipo.text for tipo in vm.tipoSanguinioEnum track by tipo.id")
                    option(value="") Tipo Sanguinio
                  +message_("tipo_sanguinio")
              .col-md-12.col-sm-12
                +formvalid_("nivel_socioeconomico")
                  input.form-control(type='text',required='required',placeholder='Alergias',ng-model="vm.paciente.nivel_socioeconomico",name="nivel_socioeconomico")
                  +message_("nivel_socioeconomico")
              .col-md-12.col-sm-12
                +formvalid_("vivienda")
                  input.form-control(type='text',required='required',placeholder='Vivienda',ng-model="vm.paciente.vivienda",name="vivienda")
                  +message_("vivienda")
              .col-md-12.col-sm-12
                +formvalid_("grupo_etnico")
                  input.form-control(type='text',required='required',placeholder='Grupo etnico',ng-model="vm.paciente.grupo_etnico",name="grupo_etnico")
                  +message_("grupo_etnico")
              .col-md-12.col-sm-12
                +formvalid_("religion")
                  input.form-control(type='text',required='required',placeholder='Religion',ng-model="vm.paciente.religion",name="religion")
                  +message_("religion")
              .col-md-12.col-sm-12
                +formvalid_("discapacidades")
                  input.form-control(type='text',required='required',placeholder='Discapacidades',ng-model="vm.paciente.discapacidad",name="discapacidad")
                  +message_("discapacidades")
              .form-group
                button.btn.btn-success(type='submit',ng-disabled="form.$invalid") Crear paciente
