// my-template.jade
extends ../layoutLogged

block head
  title Registro paciente

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Registro Paciente Nuevo
            form
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', required='required', placeholder='Nombre')
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', required='required', placeholder='Apellidos')
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', required='required', placeholder='CURP')
              .col-md-12.col-sm-12
                .form-group
                  select.form-control(required='required')
                    option Sexo
                    each sex, i in sexoEnum
                      option(value=i) #{sex}
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='date', required='required', placeholder='Fecha nacimiento')
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='email', required='required', placeholder='Email')
              .col-md-12.col-sm-12
                .form-group
                  select.form-control
                    option Tipo Sanguinio
                    each type, i in tipoSanguinioEnum
                      option(value=i) #{type}
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', required='required', placeholder='Alergias')
              .col-md-12.col-sm-12
                .form-group
                  input.form-control(type='text', required='required', placeholder='Discapcidades')
              .form-group
                button.btn.btn-success(type='submit') Registrarse
