// my-template.jade
extends ../funcions
     
block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Receta Médica
            form(name="form",class="css-form",novalidate,ng-submit="vm.submitForm()")
              .col-md-12.col-sm-12
                .form-group
                  h3 Paciente {{vm.diagnostico.paciente.nombre}}
              .form-group
                    button.btn.btn-success(type='button',ng-click="vm.addMedicamento()") Agregar medicamento
              .row
                .col-md-4(ng-repeat="(key, medicamento) in vm.receta.medicamentos")
                  .col-md-12.col-sm-12
                      label  Medicamento {{key + 1 }}
                      button.btn.btn-danger.pull-right(type='button',ng-click="vm.removeMedicamento(medicamento)") x
                  .col-md-12.col-sm-12
                    +formvalid("mMedicamento_")
                      input.form-control(type='text',ng-model="medicamento.medicamento",name="mMedicamento_{{key}}",required='required',placeholder='Medicamento')
                      +message("mMedicamento_")
                  .col-md-12.col-sm-12
                    +formvalid("mDosis_")
                      input.form-control(type='text',ng-model="medicamento.dosis",name="mDosis_{{key}}",required='required',placeholder='Dosis')
                      +message("mDosis_")
                  .col-md-12.col-sm-12
                    +formvalid("mToma_")
                      input.form-control(type='text',ng-model="medicamento.toma",name="mToma_{{key}}",required='required',placeholder='Toma')
                      +message("mToma_")
                  .col-md-12.col-sm-12
                    +formvalid("mAdministracion_")
                      select.form-control(required='required',ng-model="medicamento.administracion",name="mAdministracion",ng-options="tipo.text for tipo in vm.tipoAdministracionMedicamentoEnum track by tipo.value")
                        option(value="") Tipo Administracion
                  .col-md-12.col-sm-12
                    +formvalid("mInicio_")
                      label(for="mInicio_{{key}}") Fecha Inicio 
                      input.form-control(type='date',ng-model="medicamento.inicio",name="mInicio_{{key}}",required='required',placeholder='Desde',ng-min="{{vm.minDate | date:'yyyy-MM-dd' }}")
                      +message("mInicio_")
                  .col-md-12.col-sm-12
                    +formvalid("mFin_")
                      label(for="mFin_{{key}}") Fecha Fin
                      input.form-control(type='date',ng-model="medicamento.fin",name="mFin_{{key}}",required='required',placeholder='Hasta', ng-min="medicamento.fin")
                      +message("mFin_")
              .col-md-12.col-sm-12
                .form-group(ng-class="{ 'has-error': form.mComment.$touched && form.mComment.$invalid }")
                    label(for="comment") Información Adicional
                    textarea(class="form-control",required='required',name="mComment",ng-model="receta.comentario",rows="5")
                    .help-block(ng-messages="form.mComment.$error",ng-show="form.mComment.$touched")
                      .div(ng-messages-include="/templates/shared/messages.html")
              .form-group
                button.btn.btn-success(type='submit',ng-disabled="form.$invalid") Crear Receta Médica
