// my-template.jade
extends ../layoutLogged

block head
  title Crear Solicitud

block scripts
  script(src='/js/solicitud.controller.js')

block content
  #inicio(ng-controller="solicitudController  as solicitudCtrl")
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Crear Solicitud
            form.form(name="form",novalidate)
              .col-md-12.col-sm-12
                +formvalid_("tipoSolicitud")
                  ng-repeat(ng-repeat="tipoSolicitud in solicitudCtrl.tipoSolicitudEnum")
                    label(class="radio-inline")
                      input(type="radio", name="tipoSolicitud" ng-model="solicitudCtrl.solicitud.tipo" value="{{tipoSolicitud.value}}")
                      | {{tipoSolicitud.text}}
              .col-md-12.col-sm-12
                .form-group
                  select.form-control(name="tipo",ng-model="solicitudCtrl.solititud.tipo",required="required",ng-show="solicitudCtrl.solicitud.tipo == 1")
                    option(value="") Tipo Análisis
                    each type, i in tiposAnalisisEnum
                      option(value=i) #{type}
              .col-md-12.col-sm-12
                .form-group
                  .form-group
                    label(for="comment") Descripción
                    textarea(class="form-control",rows="5",name="descripcion",required="required",ng-model="solicitudCtrl.solicitud.descripcion")
              .col-md-12.col-sm-12
                .form-group
                  label(for="comment") Impresión Diagnostica
                  textarea(class="form-control",rows="5",name="impresion",required="required",ng-model="solicitudCtrl.solicitud.impresion")
              .form-group
                button.btn.btn-success(type='submit',ng-disabled="form.$invalid") Registrarse
