
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Cambiar Contraseña</h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.submit()" class="form">
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.oldPassword.$touched &amp;&amp; form.oldPassword.$invalid, 'has-success':form.oldPassword.$touched &amp;&amp; form.oldPassword.$valid }" class="form-group">
                <input type="password" required="required" placeholder="Contraseña Actual" ng-model="vm.changePassword.oldPassword" name="oldPassword" class="form-control"/>
                <div ng-messages="form.oldPassword.$error" ng-show="form.oldPassword.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.password.$touched &amp;&amp; form.password.$invalid, 'has-success':form.password.$touched &amp;&amp; form.password.$valid }" class="form-group">
                <input type="password" required="required" placeholder="Nueva Contraseña" ng-model="vm.changePassword.password" name="password" password-validation="password-validation" class="form-control"/>
                <div ng-messages="form.password.$error" ng-show="form.password.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.confirm.$touched &amp;&amp; form.confirm.$invalid, 'has-success':form.confirm.$touched &amp;&amp; form.confirm.$valid }" class="form-group">
                <input type="password" required="required" placeholder="Confirma Nueva Contraseña" ng-model="vm.changePassword.confirm" name="confirm" compare-to="vm.changePassword.password" class="form-control"/>
                <div ng-messages="form.confirm.$error" ng-show="form.confirm.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Cambiar Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>