
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <input type="text" required="required" placeholder="Nombre" class="form-control"/>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <input type="text" required="required" placeholder="Apellidos" class="form-control"/>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <input type="text" required="required" placeholder="CURP" class="form-control"/>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <select required="required" class="form-control">
      <option>Sexo</option>
      <option value="0">Femenino</option>
      <option value="1">Masculino</option>
    </select>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <input type="date" required="required" placeholder="Fecha nacimiento" class="form-control"/>
  </div>
</div>
<div class="col-md-12 col-sm-12">
  <div class="form-group">
    <input type="email" required="required" placeholder="Email" class="form-control"/>
  </div>
</div>