
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Diagnotico Médico</h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.submit()" class="form">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <h3>Paciente {{vm.consulta.paciente.nombre}}</h3>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <label for="comment">Diagnostico</label>
                  <textarea rows="5" name="diagnotico" required="required" ng-model="vm.diagnostico.diagnostico" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="comment">Tratamiento</label>
                <textarea rows="5" name="tratamiento" required="required" ng-model="vm.diagnostico.tratamiento" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Receta Médica</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>