
<div id="inicio" ng-controller="EntidadesController as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Entidades</h3>
          <div class="col-md-12 col-sm-12">
            <table class="table table-striped table-bordered table-hover ">
              <thead>
                <tr> 
                  <th> Nombre</th>
                  <th> Tipo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="entidad in vm.entidades" style="color:black;">
                  <td>{{ entidad.nombre}}</td>
                  <td>{{ entidad.tipo}}</td>
                  <td> <a href="#/farmacia/{{entidad.idEntidad}}" class="btn btn-primary">Farmacia</a><a href="#/paciente/{{entidad.idEntidad}}" class="btn btn-primary">Paciente</a><a href="#/pacientes/{{entidad.idEntidad}}" class="btn btn-primary">Pacientes</a><a href="#/registroDoctor/{{entidad.idEntidad}}" class="btn btn-primary">Doctor</a><a href="#/doctores/{{entidad.idEntidad}}" class="btn btn-primary">Doctores</a><a href="#/registroFarmacologo/{{entidad.idEntidad}}" class="btn btn-primary">Farmacologo</a><a href="#/registroEnfermero/{{entidad.idEntidad}}" class="btn btn-primary">Enfermero</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>