
<label ng-message="required">Este campo es requerido</label>
<label ng-message="minlength">El campo esta incompleto</label>
<label ng-message="maxlength">El campo excede el largo maximo</label>
<label ng-message="email">Este campo debe ser un email</label>
<label ng-message="compareTo">La contraseña no es la misma</label>
<label ng-message="uniqueEmail">Este email ya esta en uso</label>
<label ng-message="phone">Introduce un numero telefonico no es valido </label>
<label ng-message="rfc">Introduce un rfc valido</label>
<label ng-message="codigoPostal">Introduce un codigo postal valido</label>
<label ng-message="pwd">El password debe ser de al menos 6 caracteres, un numero y una letra</label>