
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Mi perfil</h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.submit()" class="form">
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.name.$touched &amp;&amp; form.name.$invalid, 'has-success':form.name.$touched &amp;&amp; form.name.$valid }" class="form-group">
                <input type="text" required="required" placeholder="Nombre" ng-model="vm.miperfil.nombre" name="name" class="form-control"/>
                <div ng-messages="form.name.$error" ng-show="form.name.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.apPaterno.$touched &amp;&amp; form.apPaterno.$invalid, 'has-success':form.apPaterno.$touched &amp;&amp; form.apPaterno.$valid }" class="form-group">
                <input type="text" required="required" placeholder="Apellido Paterno" ng-model="vm.miperfil.apPaterno" name="apPaterno" class="form-control"/>
                <div ng-messages="form.apPaterno.$error" ng-show="form.apPaterno.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.apMaterno.$touched &amp;&amp; form.apMaterno.$invalid, 'has-success':form.apMaterno.$touched &amp;&amp; form.apMaterno.$valid }" class="form-group">
                <input type="text" required="required" placeholder="Apellido Materno" ng-model="vm.miperfil.apMaterno" name="apMaterno" class="form-control"/>
                <div ng-messages="form.apMaterno.$error" ng-show="form.apMaterno.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.fechaNacimiento.$touched &amp;&amp; form.fechaNacimiento.$invalid, 'has-success':form.fechaNacimiento.$touched &amp;&amp; form.fechaNacimiento.$valid }" class="form-group">
                <label>Fecha Nacimiento</label>
                <input type="date" required="required" placeholder="Fecha Nacimiento" ng-model="vm.miperfil.fechaNacimiento" name="fechaNacimiento" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <!--button.btn.btn-success(type='submit', ng-disabled="form.$invalid") Guardar Cambios-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>