
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Crear Solicitud</h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.submit()" class="form">
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.tipoSolicitud.$touched &amp;&amp; form.tipoSolicitud.$invalid, 'has-success':form.tipoSolicitud.$touched &amp;&amp; form.tipoSolicitud.$valid }" class="form-group">
                <ng-repeat ng-repeat="tipoSolicitud in vm.tipoSolicitudEnum">
                  <label class="radio-inline">
                    <input type="radio" name="tipoSolicitud" ng-model="vm.solicitud.tipo_solicitud" value="{{tipoSolicitud.value}}"/>{{tipoSolicitud.text}}
                  </label>
                </ng-repeat>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <paciente-label paciente="vm.paciente"></paciente-label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <select name="tipo" ng-model="vm.solititud.tipo" ng-show="vm.solicitud.tipo_solicitud == 1" class="form-control">
                  <option value="">Tipo Análisis</option>
                  <option value="0">Químicos</option>
                  <option value="1">Bioquímicos</option>
                  <option value="2">Hemáticos</option>
                  <option value="3">Microbiológicos</option>
                  <option value="4">Otros</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <div class="form-group">
                  <label for="comment">Descripción</label>
                  <textarea rows="5" name="descripcion" required="required" ng-model="vm.solicitud.descripcion" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label for="comment">Impresión Diagnostica</label>
                <textarea rows="5" name="impresion" required="required" ng-model="vm.solicitud.impresion" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>