
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Historial Clinico</h3>
          <div class="col-md-12 col-sm-12">
            <table class="table table-striped table-bordered table-hover ">
              <thead>
                <tr>
                  <th>Tipo</th>
                  <th>Impresion</th>
                  <th>Estatus</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="registro in vm.historial" style="color:black;">
                  <td>{{registro.tipo_solicitud}}</td>
                  <td>{{registro.impresion}}</td>
                  <td>{{registro.estatus}}</td>
                  <td>{{registro.descripcion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>