// my-template.jade
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Enfermeros
            .col-md-12.col-sm-12
              .row
                .col-md-12.col-sm-12
                  a.btn.btn-primary(href="#/registroEnfermero") 
                  i.fa.fa-weelchair
                  | Agregar Enfermero
                table(class="table table-striped table-bordered table-hover ")
                  thead
                    tr
                      th  Nombre
                      th  Cedula
                  tbody
                    tr(ng-repeat="enfermero in vm.enfermeros" style="color:black;")
                      td {{enfermero.nombre}}
                      td {{enfermero.cedula_profesional}}
