extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Historial Clinico
            paciente-label(paciente="vm.paciente")
            .col-md-12.col-sm-12
                table(class="table table-striped table-bordered table-hover ")
                  thead
                    tr
                      th Tipo
                      th Impresion
                      th Estatus
                      th Descripcion
                  tbody
                    tr(ng-repeat="registro in vm.historial" style="color:black;")
                      td {{registro.tipo_solicitud}}
                      td {{registro.impresion}}
                      td {{registro.estatus}}
                      td {{registro.descripcion}}
