#inicio
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href="#registroClinica") Registro Clinica
        li.sidebar-brand
          a(href="#entidades") Entidades

    #page-content-wrapper
      .container-fluid
      .row
        .col-md-12.col-sm-12 
          .div-trans.text-center
            h3 Pantalla Principal
