#inicio
  #wrapper
    #sidebar-wrapper
      ul.sidebar-nav
        li.sidebar-brand
          a(href="#farmacia") Inventario
        li.sidebar-brand
          a(href="#doctores") Doctores
        li.sidebar-brand
          a(href="#entidades") Entidades

    #page-content-wrapper
      .container-fluid
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Pantalla Principal
