block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Pacientes
            .col-md-12.col-sm-12
                table(class="table table-striped table-bordered table-hover ")
                  thead
                    tr
                      th  Nombre
                      th  Curp 
                      th  Sangre
                      th  Acciones
                  tbody
                    tr(ng-repeat="paciente in vm.pacientes" style="color:black;")
                      td {{paciente.nombre}}
                      td {{paciente.curp}}
                      td {{paciente.tipo_sanguinio}}
                      td 
                        a.btn.btn-primary(href="#/solicitud/{{paciente.idPaciente}}") Servicio
