// registroClinica.jade
extends layout

block head
  title Registra tu Clínica - Datos de la Clínica


block content
  #inicio(ng-controller="registroClinicaController  as vm")
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Registro Datos de la Clínica 
            form.form(name="form",novalidate,ng-submit="vm.sendRegistro()")
              .col-md-12.col-sm-12
                +formvalid_("institucion")
                  input.form-control(type='text',ng-model="vm.registro.institucion",name="institucion",required='required', placeholder='Institución Médica')
                  +message_("institucion")
              .col-md-12.col-sm-12
                +formvalid_("calle")
                  input.form-control(type='text',ng-model="vm.registro.calle",name="calle", required='required', placeholder='Calle')
                  +message_("calle")
              .col-md-12.col-sm-12
                +formvalid_("numero")
                  input.form-control(type='text',ng-model="vm.registro.numero",name="numero", required='required', placeholder='Número')
                  +message_("numero")
              .col-md-12.col-sm-12
                +formvalid_("cp")
                  input.form-control(type='text',ng-model="vm.registro.cp",name="cp", required='required', placeholder='CP')
                  +message_("cp")
              .col-md-12.col-sm-12
                +formvalid_("telefono")
                  input.form-control(type='phone',ng-model="vm.registro.telefono",name="telefono", required='required', placeholder='Teléfono')
                  +message_("telefono")
              .col-md-12.col-sm-12
                +formvalid_("rfc")
                  input.form-control(type='password',ng-model="vm.registro.rfc",name="rfc", required='required', placeholder='RFC')
                  +message_("rfc")
              .col-md-12.col-sm-12
                .form-group
                  select.form-control
                    each type, i in entitadTipos
                      option(value=i) Entidad - #{type}
              .col-md-12.col-sm-12
                ng-repeat(ng-repeat="modulo in vm.modulos")
                  .col-md-4.col-sm-6(ng-click="vm.toogle(modulo)")
                      ul.plan(ng-class="{'plan-active': modulo.selected }")
                        li.plan-head.head-active {{modulo.title}}
                        li.main-price {{modulo.price | currency: "MXN$ ": 2}} / Mes
                        li
                          strong {{modulo.description}}
                        li.bottom
                          .col-md-12
                            .checkbox
                              label
                                input(type="checkbox",name="selectedModules[]", value="{{modulo}}", ng-model="modulo.selected")
                                strong {{modulo.title}}
              md-content(layout-padding)
                div(layout="row" layout-xs="column")
                  div(flex)
                    h4 Fecha inicio
                    md-datepicker(ng-model="vm.registro.fechaInicio" name="dateField" md-min-date="vm.minDate" md-max-date="vm.registro.fechaFin")
                  div(flex)
                    h4 Fecha fin
                    md-datepicker(ng-model="vm.registro.fechaFin" md-min-date="vm.minDate" md-max-date="vm.maxDate")                    
              
              .form-group
                button.btn.btn-success(type='submit',ng-disabled="form.$invalid") Registrar Entidad
