
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 div-trans text-center">
        <h3>Medicamentos</h3>
        <div class="col-md-12 col-sm-12">
          <button type="button" ng-click="vm.agregarMedicamento()" class="btn btn-success">Agregar Medicamento</button>
        </div>
        <div class="col-md-12 col-sm-12">
          <table class="table table-striped table-bordered table-hover ">
            <thead>
              <tr>
                <th> </th>
                <th> Nombre</th>
                <th> Activo</th>
                <th> Descripcion</th>
                <th> Cantidad</th>
                <th> Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="medicamento in vm.medicamentos" style="color:black;">
                <td></td>
                <td>
                  <input type="text" required="required" placeholder="Medicamento" ng-model="medicamento.nombre" name="nombre" class="form-control"/>
                </td>
                <td> 
                  <input type="text" required="required" placeholder="Activo" ng-model="medicamento.activo" name="activo" class="form-control"/>
                </td>
                <td> 
                  <input type="text" required="required" placeholder="Descripcion" ng-model="medicamento.descripcion" name="descripcion" class="form-control"/>
                </td>
                <td>
                  <input type="number" required="required" placeholder="Cantidad" ng-model="medicamento.cantidad" name="cantidad" min="0" max="500" class="form-control"/>
                </td>
                <td> 
                  <!--button.btn.btn-danger(type='button',ng-click="vm.borrarMedicamento(medicamento)", ng-show="!!medicamento.idMedicamento") Eliminar -->
                  <button type="button" ng-click="vm.guardarMedicamento(medicamento)" class="btn btn-success">Guardar Cambios</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>