// my-template.jade
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Laboratoristas
            .col-md-12.col-sm-12
              .row
                .col-md-offset-3.col-md-6.col-sm-12
                    a.btn.btn-primary(href="#/registroLaboratorista") 
                      i.fa.fa-user-md 
                      |  Agregar Laboratorista
              .row
                .col-md-12.col-sm-12
                  .table-responsive
                    table(class="table table-striped table-bordered table-hover ")
                      thead
                        tr
                          th  Nombre
                          th  Cedula
                      tbody
                        tr(ng-repeat="lab in vm.laboratoristas" style="color:black;")
                          td {{lab.nombre}}
                          td {{lab.cedula_profesional}}
