
extends ../funcions

block content
  #inicio
    .container
      .row
        .col-md-12.col-sm-12
          .div-trans.text-center
            h3 Análisis Médico
            form(name="form",novalidate,class="form",ng-submit="vm.submit()")
              .col-md-12.col-sm-12
                .form-group
                  h3 Paciente {{vm.consulta.paciente.nombre}}
              .form-group
                    button.btn.btn-success(type='button',ng-click="vm.addMuestra()") Agregar muestra
              .row
                .col-md-4(ng-repeat="(key, muestra) in vm.analisis.muestras")
                  .col-md-12.col-sm-12
                      label  Muestra {{key + 1 }}
                      button.btn.btn-danger.pull-right(type='button',ng-click="vm.removeMuestra(muestra)") x
                  .col-md-12.col-sm-12
                    +formvalid("tipo_muestra")
                      input.form-control(type='text',ng-model="muestra.tipo_muestra",name="tipo_muestra_{{key}}",required='required',placeholder='Tipo muestra')
                      +message("tipo_muestra")
                  .col-md-12.col-sm-12
                      +formvalid("numero")
                        input.form-control(type='number',ng-model="muestra.numero",name="numero_{{key}}",min="1",max="10",required='required',placeholder='Cantidad')
                        +message("numero")
              .form-group
                  label(for="observaciones") Observaciones
                  textarea(class="form-control",rows="5",name="tratamiento",required,ng-model="vm.analisis.observaciones")
              .form-group
                button.btn.btn-success(type='submit') Analisis  Medico
