
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Doctores</h3>
          <div class="col-md-12 col-sm-12">
            <table class="table table-striped table-bordered table-hover ">
              <thead>
                <tr>
                  <th> Doctores</th>
                  <th> Especialidad</th>
                  <th> Subespecialidad</th>
                  <th> Cedula</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="doctor in vm.doctores" style="color:black;">
                  <td>{{doctor.nombre}}</td>
                  <td>{{doctor.especialidad}}</td>
                  <td>{{doctor.sub_especialidad}}</td>
                  <td>{{doctor.cedula_profesional}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>