
<!--block content-->
<div id="inicio">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <h1 class="head-main">Administración de la Salud</h1><span class="head-sub-main">En un Click</span>
        <!--
        <div class="head-last">
        Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
        </div>
        -->
      </div>
      <!-- *************************************LOG IN**************************************-->
      <div class="col-md-3 col-sm-12">
        <div style="min-height: initial" ng-if="!logged" class="div-trans text-center">
          <h3>LOG IN </h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.login()">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <input type="text" required="required" placeholder="User" ng-model="vm.usuario.username" name="user" class="form-control"/>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <input type="password" required="required" placeholder="Password" ng-model="vm.usuario.password" name="password" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember" ng-model="vm.usuario.remember"/>Remember me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success"> <i class="fa fa-sign-in fa-fw"></i>Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- *************************************hasta aqui***************************************-->
  </div>
</div>
<!-- End Header section-->
<section id="Parallax-one">
  <div class="container">
    <!-- AQUI IVA EL DIV-->
    <!-- *****************************************INICIO***************************************************-->
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2> Software personalizado de acuerdo a sus  necesidades</h2>
        <h4><i>Plataforma desarrollada en colaboracion con profesionales en áreas de tecnologías de la información,</i>
          <!-- <img src="assets/img/logo.png" width="80" height="80">--><strong>Medical Web</strong><i>ayuda en las tareas de gestión de información clínica de manera eficiente, segura y siempre accesible.</i>
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- *************************************CARACTERISTICAS***************************************-->
<section id="caracteristicas">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2>Características</h2>
      </div>
    </div>
    <div class="row text-center space-pad">
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-folder-open fa-4x main-color"></i>
          <h3>Expedientes</h3>
          <p>Accede a el historial clínico de tus pacientes a cualquier hora y en cualquier parte del mundo.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-flask fa-4x main-color"></i>
          <h3>Resultados en Línea</h3>
          <p>Disponibilidad de resultados de analisis y diagnóstico de sus pacientes en línea.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-lock fa-4x main-color"></i>
          <h3>Confiabilidad</h3>
          <p>Respaldados por la seguridad de Microfost Azure, con las mas avanzadas medidas de seguridad.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-users fa-4x main-color"></i>
          <h3>Fácil de usar</h3>
          <p>Sistema amigable, fácil de utilizar. Moderniza tu clínica con un desarrollo pensado en los usuarios.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-cloud fa-4x main-color"></i>
          <h3>Cloud Computing</h3>
          <p>Tecnolgía de internet que permite compartir y acceder a informacion vía remota a cualquier hora.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div><i class="fa fa-mobile fa-4x main-color"></i>
          <h3>Accesibilidad</h3>
          <p>La información de su clínica y pacientes disponible desde cualquier dispositivo móvil con acceso a internet.</p>
        </div>
      </div>
    </div>
    <!-- **************************************SISTEMAS***************************************-->
    <section id="sistemas">
      <div class="row text-center">
        <div class="col-md-6 col-sm-6">
          <h2>Sistema Modular</h2><i>Brindamos la posibilidad de configurar el software tantas veces lo requiera.</i><strong>Medical Web</strong><i>
            cuenta con los módulos de Farmacia, Laboratorio y Consulta Externa, de este modo puede
            configurar el sistema de acuerdo a los servicios que brinde en su unidad médica.</i>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul style="background-color: #ECECEC;" class="nav nav-pills">
                <li><a href="#settings-pills" data-toggle="tab">Sistema</a></li>
                <li class="active"><a href="#home-pills" data-toggle="tab">Consulta Externa</a></li>
                <li><a href="#profile-pills" data-toggle="tab">Farmacia</a></li>
                <li><a href="#messages-pills" data-toggle="tab">Laboratorio</a></li>
              </ul>
              <div class="tab-content">
                <div id="home-pills" class="tab-pane fade active in">
                  <h4>Administración</h4>
                  <p>Este módulo permitira una administracion de pacintes, personal e informacion referente a la clínica.</p>
                </div>
                <div id="profile-pills" class="tab-pane fade">
                  <h4>Expendio de medicamentos</h4>
                  <p>Este módulo permitirá la administracion de medicamentos asi como un correcto inventario de la unidad de farmacia.</p>
                </div>
                <div id="messages-pills" class="tab-pane fade">
                  <h4>Exámenes médicos</h4>
                  <p>La implementacion de éste módulo permitirá tener un control de las solicitudes de de exámenes médicos así como de sus respectivos resultados.</p>
                </div>
                <div id="settings-pills" class="tab-pane fade">
                  <h4>Configuración</h4>
                  <p>El sistema podrá configurarse, de este modo el precio será de acuerdo a lo que se utilice.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- End Services Section-->
<!-- parallax one-->
<!-- *********************************************************PRECIOS*************************************************************-->
<!-- ./parallax one-->
<!-- Pricing Section-->
<section id="price-sec">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h2>Precios</h2>
        <h4><strong>
            Tenemos el objetivo de ayudar a los médicos a ejecutar mejores prácticas, somos empresa liider em proveer software y servicios
            de TI aplicados a la Salud, basados en Tecnologías de la Nube.</strong></h4>
      </div>
    </div>
    <div class="row text-center">
      <ng-repeat ng-repeat="modulo in vm.modulos">
        <div class="col-md-4 col-sm-6">
          <ul ng-class="{'plan-active': modulo.selected }" class="plan">
            <li class="plan-head head-active">{{modulo.title}}</li>
            <li class="main-price">{{modulo.price | currency: "MXN$ ": 2}} / Mes</li>
            <li><strong>{{modulo.description}}</strong></li>
          </ul>
        </div>
      </ng-repeat>
    </div>
  </div>
</section>