
<div id="inicio" ng-controller="registroClinicaController  as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="div-trans text-center">
          <h3>Registro Datos de la Clínica </h3>
          <form name="form" novalidate="novalidate" ng-submit="vm.sendRegistro()" class="form">
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.institucion.$touched &amp;&amp; form.institucion.$invalid, 'has-success':form.institucion.$touched &amp;&amp; form.institucion.$valid }" class="form-group">
                <input type="text" ng-model="vm.registro.nombre" name="institucion" required="required" placeholder="Institución Médica" only-letters="only-letters" class="form-control"/>
                <div ng-messages="form.institucion.$error" ng-show="form.institucion.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.calle.$touched &amp;&amp; form.calle.$invalid, 'has-success':form.calle.$touched &amp;&amp; form.calle.$valid }" class="form-group">
                <input type="text" ng-model="vm.registro.calle" name="calle" required="required" placeholder="Calle" only-alpha="only-alpha" class="form-control"/>
                <div ng-messages="form.calle.$error" ng-show="form.calle.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.numero.$touched &amp;&amp; form.numero.$invalid, 'has-success':form.numero.$touched &amp;&amp; form.numero.$valid }" class="form-group">
                <input type="text" ng-model="vm.registro.numero" name="numero" required="required" placeholder="Número" only-alpha="only-alpha" class="form-control"/>
                <div ng-messages="form.numero.$error" ng-show="form.numero.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.cp.$touched &amp;&amp; form.cp.$invalid, 'has-success':form.cp.$touched &amp;&amp; form.cp.$valid }" class="form-group">
                <input type="text" ng-model="vm.registro.codigoPostal" name="cp" required="required" placeholder="CP" codigo-postal="codigo-postal" only-numbers="only-numbers" class="form-control"/>
                <div ng-messages="form.cp.$error" ng-show="form.cp.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.telefono.$touched &amp;&amp; form.telefono.$invalid, 'has-success':form.telefono.$touched &amp;&amp; form.telefono.$valid }" class="form-group">
                <input type="text" only-numbers="only-numbers" ng-model="vm.registro.telefono" name="telefono" required="required" placeholder="Teléfono" phone="phone" uib-tooltip="El telefono debe ser de 10 digitos" tooltip-trigger="'focus'" tooltip-placement="bottom" class="form-control"/>
                <div ng-messages="form.telefono.$error" ng-show="form.telefono.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.rfc.$touched &amp;&amp; form.rfc.$invalid, 'has-success':form.rfc.$touched &amp;&amp; form.rfc.$valid }" class="form-group">
                <input type="text" ng-model="vm.registro.rfc" name="rfc" required="required" placeholder="RFC" rfc="rfc" only-alpha="only-alpha" class="form-control"/>
                <div ng-messages="form.rfc.$error" ng-show="form.rfc.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <select ng-model="vm.registro.tipo" name="tipo" required="required" ng-options="tipo.value as tipo.text for tipo in vm.tipoEntidadEnum track by tipo.value" class="form-control">
                  <option value="">Elige un tipo</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <ng-repeat ng-repeat="modulo in vm.modulos">
                <div ng-click="vm.toogle(modulo)" class="col-md-4 col-sm-6">
                  <ul ng-class="{'plan-active': modulo.selected }" class="plan">
                    <li class="plan-head head-active">{{modulo.title}}</li>
                    <li class="main-price">{{modulo.price | currency: "MXN$ ": 2}} / Mes</li>
                    <li><strong>{{modulo.description}}</strong></li>
                    <li class="bottom">
                      <div class="col-md-12">
                        <div ng-if="!modulo.required" class="checkbox">
                          <label>
                            <input type="checkbox" name="selectedModules[]" value="{{modulo}}" ng-model="modulo.selected"/><strong>{{modulo.title}}</strong>
                          </label>
                        </div><a ng-if="modulo.required"><i class="fa fa-fw fa-check-square-o"></i><strong>{{modulo.title}}</strong></a>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-repeat>
            </div>
            <md-content layout-padding="layout-padding">
              <div layout="row" layout-xs="column">
                <div flex="flex">
                  <h4>Fecha inicio</h4>
                  <md-datepicker ng-model="vm.registro.fechaInicio" name="dateField" md-min-date="vm.minDate" md-max-date="vm.registro.fechaFin"></md-datepicker>
                </div>
                <div flex="flex">
                  <h4>Fecha fin</h4>
                  <md-datepicker ng-model="vm.registro.fechaFin" md-min-date="vm.registro.fechaInicio" md-max-date="vm.maxDate"> </md-datepicker>
                </div>
              </div>
            </md-content>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Registrar Entidad</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>