
<!-- my-template.jade-->
<!--extends layout-->
<!--block head//title Registra tu Clínica
-->
<div id="inicio" ng-controller="registroController as vm">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1 class="head-main">Registro</h1>
        <div class="head-last">Favor de llenar los campos para poder crear tu usuario y poder formar parte de MedicalWeb</div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="div-trans text-center">
          <h3>Registro</h3>
          <form name="form" novalidate="novalidate" class="form">
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.name.$touched &amp;&amp; form.name.$invalid }" class="form-group">
                <input type="text" required="required" placeholder="Nombre" ng-model="vm.name" name="name" class="form-control"/>
                <div ng-messages="form.name.$error" ng-show="form.name.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.apellidos.$touched &amp;&amp; form.apellidos.$invalid }" class="form-group">
                <input type="text" required="required" placeholder="Apellidos" ng-model="vm.apellidos" name="apellidos" class="form-control"/>
                <div ng-messages="form.apellidos.$error" ng-show="form.apellidos.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.email.$touched &amp;&amp; form.email.$invalid }" class="form-group">
                <input type="email" required="required" placeholder="Email" ng-model="vm.email" name="email" class="form-control"/>
                <div ng-messages="form.email.$error" ng-show="form.email.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.cargo.$touched &amp;&amp; form.cargo.$invalid }" class="form-group">
                <input type="text" required="required" placeholder="Cargo" ng-model="vm.cargo" name="cargo" class="form-control"/>
                <div ng-messages="form.cargo.$error" ng-show="form.cargo.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.username.$touched &amp;&amp; form.username.$invalid }" class="form-group">
                <input type="text" required="required" placeholder="Usuario" ng-model="vm.username" name="username" class="form-control"/>
                <div ng-messages="form.username.$error" ng-show="form.username.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.password.$touched &amp;&amp; form.password.$invalid }" class="form-group">
                <input type="password" required="required" placeholder="Contraseña" ng-model="vm.password" name="password" class="form-control"/>
                <div ng-messages="form.password.$error" ng-show="form.password.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div ng-class="{ 'has-error':form.confirm.$touched &amp;&amp; form.confirm.$invalid }" class="form-group">
                <input type="password" required="required" placeholder="Cofirma Contraseña" ng-model="vm.confirm" name="confirm" compare-to="vm.password" class="form-control"/>
                <div ng-messages="form.confirm.$error" ng-show="form.confirm.$touched" class="help-block">
                  <div ng-messages-include="/templates/shared/messages.html" class="div"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>